<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="sherlock_lEntities" connectionString="metadata=res://*/EF.Lead.csdl|res://*/EF.Lead.ssdl|res://*/EF.Lead.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INDRAJIT-LAPY\DANSQLSERVER;initial catalog=sherlock_l;persist security info=True;user id=sa;password=zxcv;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>